body {
  font-family: Helvetica, Arial, sans-serif;
}

h1 {
  font-size: 25px;
  font-weight: bold;
  text-align: left;
  padding: 18px 15px 15px;
  margin: 0 0 10px;
  background: #aaa;
  background: -webkit-gradient(linear, left top, left bottom, from(#ccc), to(#aaa));
  background: -moz-linear-gradient(-90deg, #ccc, #aaa);
  color: #333;
}

.nav {
  position: absolute;
  top: 18px;
  right: 10px;
}

.nav li {
  display: inline-block;
  margin-left: 2px;
  font-size: 14px;
  text-transform: uppercase;
}

.nav a {
  background: #eee;
  background: -webkit-gradient(linear, left top, left bottom, from(#eee), to(#ccc));
  background: -moz-linear-gradient(-90deg, #eee, #ccc);
  padding: 5px 10px;
  line-height: 16px;
  text-decoration: none;
  color: #999;
  border-radius: 14px;
  -moz-border-radius: 14px;
  -webkit-box-shadow: 0 -1px #fff, 0 1px 0 #999;
  -moz-box-shadow: 0 1px 0 #999;
  text-shadow: 0 -1px 2px #fff;
}

.nav a:hover {
  background: #999;
  background: -webkit-gradient(linear, left top, left bottom, from(#999), to(#666));
  background: -moz-linear-gradient(-90deg, #999, #666);
  color: #fff;
  text-shadow: 0 -1px 2px #666;
  -webkit-box-shadow: 0 -1px #fff, 0 1px 0 #333;
}

.nav .selected {
  color: #fff;
  background: #333;
  background: -webkit-gradient(linear, left top, left bottom, from(#333), to(#555));
  background: -moz-linear-gradient(-90deg, #333, #555);
  -webkit-box-shadow: 0 -1px 0 #111, 0 1px 0 #eee;
  -moz-box-shadow: 0 1px 0 #eee;
  text-shadow: 0 -1px 2px #000;
}

.projects {
  list-style-type: none;
  text-align: center;
}

.projects li {
  margin-right: 20px;
  margin-bottom: 10px;
  display: inline-block;
  text-align: center;
  position: relative;
  z-index: 50;
  color: #333;
  -moz-border-radius: 15px;
  border-radius: 15px;
  cursor: pointer;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(255,255,255,0.4)), to(rgba(255,255,255,0)));
  background-image: -moz-linear-gradient(-90deg, rgba(255,255,255,0.4), rgba(255,255,255,0));
}

.projects > li:hover {
  -webkit-box-shadow: 0 2px 30px rgba(0, 0, 0, .4);
}

.projects a {
  color: inherit;
  padding: 20px 20px 0;
  text-decoration: none;
  font-weight: bold;
  font-size: 35px;
  display: block;
}
      
#passing > li             { background-color: #ada; }
#passing > li a           { font-size: 18px; }
#passing > li .details    { margin-bottom: 14px; }
#passing > li .details li { font-size: 10px; }
#passing > li:hover {
  color: #fff;
  background-color: #393;
}

#passing > li:hover a {
  text-shadow: 0 2px 0 #393;
}

#failing > li { background-color: #daa; }
#failing > li a { font-size: 35px; }
#failing > li:hover {
  color: #fff;
  background-color: #933;
}

#failing > li:hover a {
  text-shadow: 0 2px 0 #933;
}

#building > li { background-color: #dda; }
#building > li a { font-size: 45px; }
#building > li .details li { font-size: 13px; }
#building > li:hover {
  color: #fff;
  background-color: #993;
}

#building > li:hover a {
  text-shadow: 0 2px 0 #993;
}

#failing > li .build { display: none; }

.projects li:hover .details li {
  opacity: 1;
  background: #333;
}

.projects .details {
  margin: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  padding: 0;
}

.projects .details li {
  color: #eee;
  margin: 0;
  background: #666;
  padding: 5px 10px;
  width: auto;
  float: none;
  display: inline-block;
  font-size: 13px;
  opacity: .5;
  letter-spacing: .08em;
}


body.linear .projects {
  margin: 0 10px 10px;
  float: none;
}

body.linear .projects > li {
  width: auto;
  display: block;
  overflow: hidden;
  text-align: left;
}

body.linear .details {
  margin-left: 20px;
  margin-bottom: 20px;
}

body.linear #passing > li {
  width: 32.5%;
  float: left;
  margin-right: 1.25%;
}

body.linear #building > li,
body.linear #failing > li,
body.linear #passing > li:nth-child(3n) {
  margin-right: 0;
}

body.linear .projects li:last-child {
  margin-bottom: 0;
}

body.linear #building .details,
body.linear #failing .details {
  display: inline-block;
  vertical-align: bottom;
  position: relative;
  margin-left: 0;
  top: -5px;
}

body.linear #building h2,
body.linear #failing h2 {
  margin-bottom: 20px;
  margin-right: 0;
  display: inline-block;
  vertical-align: bottom;
}